django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter
ortools
gunicorn
whitenoise
django-cors-headers
dj-database-url
psycopg2-binary
pytest
pytest-django
corsheaders==3.14.0
dj-database-url==2.1.0
ics==0.7
arrow==0.14.7
