django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter
ortools
gunicorn
whitenoise
django-cors-headers
dj-database-url
psycopg2-binary
pytest
pytest-django
ics==0.7
arrow==1.3.0
